<h1>Missing an Interesting Plot / Tune / Generator?</h1>

<p>The steps are roughly as follows:</p>

<ul>
  <li>Start by checking out a copy of the <a href="https://gitlab.cern.ch/MCPLOTS/mcplots">mcplots GIT repository</a>:
  <pre>git clone https://gitlab.cern.ch/MCPLOTS/mcplots.git</pre>
  
  This will allow you to experiment with modifying files locally, do
    test runs (most easily on CERN lxplus which has the required architecture in place)
  and communicate changes easily
  to the mcplots authors, using the pull request or the output of <code>git diff</code>.
</li>
<li>
If your plot is based on <a href="http://rivet.hepforge.org/">Rivet</a>, the
procedure is almost automatic, with the user just having to furnish a few
additional pieces of information; see section 4
in <a href="https://arxiv.org/pdf/1306.3436.pdf">arXiv:1306.3436</a>
for explicit instructions. Note: to keep
the mcplots site tidy and well organised, it is important to make judicious
use of the distinction between 'observables' and 'cuts'. The former
define what labels will appear in the left-hand menus, while the
latter will appear together as different plots on the same 'plot
plage', for the chosen observable label. 
As an example, for a set of
differential jet shape measurements using different pT cuts and different
jet algorithms / R values, we would normally use
'Differential Jet Shape' as the 'observable' for all of them
and let the different detailed definitions be referred to as
different 'cuts'; i.e., we use the word 'cut' in a general sense to
refer to different specific definitions of the same generic
'observable'. This avoids cluttering the left-hand menus up with
observable definitions that only differ by small details, and also
allows to see plots that only differ by such small details together
side by side on the same plot page.
</li>
<li>
If you want to add a new generator, this requires a little bit more
work. The automated computation back end and volunteer computing setup
make use of the LCG GENSER releases, so having the generator included
in such a release is normally the first step. See section 6 in
<a href="https://arxiv.org/pdf/1306.3436.pdf">arXiv:1306.3436</a>
for further explicit instructions. </li>
<li>To test if an updated set of MCPLOTS configuration files can be
  used to successfully generate events, you can use
  the <code>runRivet.sh</code> script in <code>local</code>
  or <code>lxplus</code> mode; see section 5
  in <a href="https://arxiv.org/pdf/1306.3436.pdf">arXiv:1306.3436</a></li>
for further instructions. </li>
<li>Finally, to test how updates to the database would look on the web
  site, you would need access to a php-enabled web server. Detailed
  instructions on how to do this are beyond the scope of this help
  text. Get in touch with the authors, and we can test your
  modifications eg on our mcplots-dev test server. </li>
</ul> 
