<section>

<!--
<h1>The Project</h1>
-->

<b>MCPLOTS</b> is a simple browsable repository of
MC (Monte Carlo) plots comparing High Energy Physics event generators
to a wide variety of available experimental data, 
for tuning and reference purposes. Apart from individual plots contained in papers
and presentations, there has not previously been any central database where people can 
quickly see how tune X of version Y of generator Z looks on distribution
D. The idea with mcplots is to provide such a repository, 
mainly based on the <a href="http://rivet.hepforge.org/">Rivet</a> analysis tool. 
<br>
The millions of different possible combinations of beam energies, cuts,
generators, versions, and tunes, means that a lot of attention has been paid
to how to simplify the site, in particular how to organize the site visually, 
and how to minimize the number of user clicks/inputs required to get what you
want. The current site is based on a prototype developed by P. Skands in the
context of workshops in Les Houches and Perugia
[<a href="http://arxiv.org/abs/0803.0678">LH08</a>,
<a href="http://arxiv.org/abs/1005.3457">Ska10</a>], but obviously
it also draws heavily on the lessons and tools developed as part of the
<a href="http://jetweb.hepforge.org/">JetWeb</a> 
project, in particular the <a href="http://rivet.hepforge.org/">Rivet</a> analysis tool.

</section>

<!-- current team -->
<h2 class="d3"><span> The team </span></h2>
<section >
<div class="team">
<img src="figs1/pskands.jpg" alt="peter">
<img src="figs1/akarneyeu.jpg" alt="anton">
<img src="figs1/nkorneeva.jpg" alt="natalia">
</div>
<br><br>
<a href="http://skands.physics.monash.edu/">P. Skands</a>,
A. Karneyeu,
N. Korneeva.

<!-- TODO: past team members and contributors
...
Anton Pytel - the possibility to select generator versions (CERN, March 2011) and more
...

<p>
<b>Contact</b><br>
-->

<br><br>
Missing an interesting Analysis / Plot / Tune / Generator?
Something is wrong or unclear?
Contact us: <b>P. Skands</b> (peter.skands.AT.monash.edu) and
<b>A. Karneyeu</b> (anton.karneyeu.AT.cern.ch) and
<b>N. Korneeva</b> (natalia.korneeva.AT.cern.ch).
<br><br>
Funds may be available to support
development and integration of new features / new analyses / new tools
on the site.
Contact us if you have a project to propose and
would be interested in a short-term stay at
CERN.
</section>

<h2 class="d3"><span> Support </span></h2>
<section class="list" >
The MCPlots site is being developed with participation by<br>
  <a href="http://wwwth.cern.ch/">CERN Theory Group</a><br>
  <a href="http://www.montecarlonet.org/">MCnet Monte Carlo network</a><br>
  <a href="http://sftweb.cern.ch/generators/">CERN Generator Services project</a><br>
  <a href="http://cern.ch/LPCC/">CERN LHC Physics Center (LPCC)</a><br><br>
</section>

