<!-- <h2 style="background-color:white;">&nbsp;</h2> -->
<h2>&nbsp;</h2>

<div>
<p>
<b>MCPLOTS</b> is a repository of
plots comparing High Energy Physics event generators
to a wide variety of available experimental data, 
for tuning and reference purposes.

The idea is to provide a simple interface to be able to
quickly see how tune X of version Y of generator Z looks on distribution D.
</p>

<p>
Last update: October 2022.
</p>


<div>

<p>
<b>Explore</b><br>
<i>Browse the <a href="?query=plots">plots repository</a>.</i>
</p>

<p>
<b>Compare</b><br>
<i>Check the <a href="?query=valid">changes between generator versions</a> or
the <a href="?query=validgen">changes between different tunes of a generator</a>.</i>
</p>

<p>
<b>Contribute</b><br>
<i>Join the <a href="http://lhcathome.web.cern.ch/projects/test4theory">Test4Theory</a> project
to donate the unused CPU cycles to help generate more statistics for mcplots.</i>
</p>

</div>

</div>

<br/>
<br/>

<div align="center">
<div id="fb-root"></div>
<script async src="//connect.facebook.net/en_US/all.js#xfbml=1"></script>
<div class="fb-like" data-layout="button_count"></div>
</div>

