<h2>Plots Repository</h2>

<div>

<p>
<b>Navigate these pages</b> by using the menu to the left. 
The default for each topic is a comparison
of a small number of models to available data, but look for links at the top 
of each page for comparisons with more tunes/generators. 
Scroll down each page to see plots at 
other collider energies. To choose specific generator
version(s), use the
<a href="?query=versions">Generator Versions</a>
link in the "Analysis filter" menu (the default is to
just display the most recent ones).<br>
More plots will be added, as new tunes become available, and as the
available data increases.
</p>

<p>
<b>On each page</b>, selected by clicking in the menu on the left, you will
see a number of plots at different collider energies, comparing a set of
default generators/tunes to each other and to the data (if there is
any). If data for several different fiducial cuts are available at the
same energy, these will be arranged horizontally. At
the top of the page, you can select other generator/tune groups. The
default ("Main") is a comparison of the main generators. Each
additional tab then gives access to illustrations of more specialized
tunes/variations for each generator. 
</p>

<p><i>&larr; Select beam, process, and observable</i></p>

</div>
