* {
  font-family: Arial,Helvetica,Verdana,Sans-serif;
}

a:link {color:#0000cc;text-decoration:none;}
a:visited {color:#0000cc;text-decoration:none;}
a:active {color:#0000ff; text-decoration:underline;}
a:hover {color:#0000ff; text-decoration:underline;}

/* suppress rectangle around plots */
a img {
  border: none;
}

table#production td.day {
  background: #BBEFBB;
}

table#production td.week {
  background: #FEFFBA;
}

table#contrib td {
  vertical-align: top;
}

/* hosts with high number of bad jobs */
.problem {
  background: #FBB;
}

.inactive {
  opacity: 0.5;
}

table#contributions td:nth-child(n+3) {
  text-align: right;
}

/* === matrix page === */

table#matrix th {
  text-align: left;
  background: #EEE;
}

table#matrix td th {
  vertical-align: top;
}

table#matrix thead th {
  vertical-align: top;
}

table#matrix tr:hover {
  background: #EEA;
}

/* always show header cells */
table#matrix thead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

table#matrix tr th:first-child {
  position: sticky;
  left: 0;
}

.fail {
  color: red;
}

.lost {
  color: blue;
}

/* === runs list page === */
table#runs td:nth-child(n+2) {
  text-align: right;
}

/* always show header cells */
table#runs thead {
  position: sticky;
  top: 0;
  left: 0;
}

table#runs th {
  background: #EEE;
}

#filterState {
  padding-left: 2em;
}

/* checkbox styling */
label {
  white-space: nowrap;
}

label:hover {
  background: #EEE;
}
input:checked + span {
  background: #8C8;
}

a {
  padding: 3px;
}

a.selected {
  background: #0000DD;
  color: #FFFFFF;
}

p, li {
  margin-bottom:0.75em;
  line-height:120%;
}
