body {
  margin: 0;
  /*overflow-x: hidden;*/
  font-family: Arial, Helvetica, sans-serif;
}

/*Top navigation bar*/
nav #logo {
  float:left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #555, #111);
    z-index: 100;
}
nav li {
    float: right;
}
nav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
nav li a, .dropbtn .triangle-down:after {
    content: "\25Bc";
  }
.triangle-down {
    font-size: 0.75em;
    vertical-align: middle;
}
nav li a:hover, .dropdown:hover .dropbtn {
    background: linear-gradient(to bottom, #777, #111);
}
nav li.dropdown {
    display: inline-block;
}
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
nav .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
nav .dropdown-content a:hover {
  background: none;
  background-color: #555
}
nav .dropdown:hover .dropdown-content {
    display: block;
    height: auto;
    max-height: 90vh;
    overflow: auto;
}
nav .dropdown ::-webkit-scrollbar {
  width: 10px;
}
nav .dropdown ::-webkit-scrollbar-track {
  background: #111;
}
nav .dropdown ::-webkit-scrollbar-thumb {
  background: #555;
}
nav #logo a{
  padding: 6px 14px 0;
}
nav #logo img{
  height: 32px;
}
/*fin topnav*/

/*main page*/
.head{
    background-color: #e9e9e9;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size:1.8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.head h1{
    margin:0;
    font-size:7vw;
}
.head .line {
    padding: 5vh;
}
.circles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10vh;
    padding-top: 5vh;
}
.circ {
    height: 15vw;
    width: 15vw;
    background-color: green;
    border-radius: 50%;
    font-size: 1.6vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.circ .number {
    font-size:4.2vw;
    font-weight: bold;
    padding-top:4.5vw;
}
.circ a{
  text-decoration: none;
  color: black;
}
.c1 {
    background-color:#C9D4E3;
}
.c2 {
    background-color:#C4D4CE;
}
.c3 {
    background-color:silver;
}
.carrelage{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.valid {
    justify-content: space-between;
}
.carre {
    display: block;
    height: auto;
    width:20vw;
    text-decoration:none;
    color: black;
}
.validcarre {
  width: 35vw;
  text-decoration:none;
  color: black;
}
.validcarre  img{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: block;
}
.ctext{
    line-height: 1.4;
}
#imgplot{
    border: 3px solid gainsboro;
}
.bottombar{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #e9e9e9;
}
.bottombar h1{
  text-align: left;
}
.bottombar img{
  height: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}

/*fin main page*/

/*Leftside navigation bar*/
.leftside {
    overflow: hidden;
    width: 220px;
    float: left;
    z-index: 1;
    top: 0;
    margin-left: 20px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    min-height: 350px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    display: block;
}
.sidenav a:hover {
    background-color: silver;
}
.sidenav a.active {
    background-color: #BBC9C9;
    background-color: #B4C9C1;
    background-color: #C9D4E3;
}
.sidenav h2 {
    background-color: silver;
    margin:0;
    padding: 10px 8px 10px 16px;
}
.sidenav label{
  padding: 6px 8px 6px 16px;
  display: block;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  background-color: gainsboro;
}
.sidenav label:hover{
  background-color: silver;
}
.sidenav label:after {
    content: " \25be";
}
.sidenav input[type=checkbox]{
    display: none;
}
.sidenav ul{
    display: none;
    list-style: none;
    margin:0;
    padding:0;
    /*background-color: #e9e9e9;*/
}
.sidenav .k1:before {
  content:'';
  display:block;
  height:10px;
  background-color: white;
}
.sidenav ul li a{
  padding-left: 25px;
  background-color: #e9e9e9;
}
.leftside .gendropdown li a{
  background-color: #e9e9e9;
}
/*.sidenav .gendropdown li ul li a{
  background-color: gainsboro;
}*/
.sidenav input[type=checkbox]:checked ~ ul {
    display: block;
}
.sidenav input[type=checkbox]:checked ~ label:after {
    content: " \25b4";
}
/*fin sidenav*/

.fullpage {
  margin-top: 45px;
  padding-top: 55px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.rightpage{
  margin-left: 320px;
  padding-top: 70px;
}
.rightpage h1{
  text-align: left;
}
.rightpage section{
  width: 90%;
  margin-left: 0;
  text-align: justify;
}
.rightpage section a{
  color: black;
}
.rightpage .list{
  line-height: 1.5;
}
.text-clarif{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  background-color: #E8E8E8;
  padding: 10px;
  border: 1px solid #E8E8E8;
  border-radius: 12px;
}
.team{
  overflow: hidden;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.team img{
  width: 20%;
  max-width: 300px;
}
.team img:not(:last-child){
  margin-right: 50px;
}
/*Figures for processes*/
.figs-plots-beams{
  overflow: hidden;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.fig-item {
  position: relative;
  font-weight: bold;
  font-size: 140%;
  width: 250px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color:black;
}
.fig-item a {
    color: white;
}
.fig-item a img{
    -webkit-mask-image: linear-gradient(to top, transparent, black 70%);
}
.fig-item:hover a img{
    -webkit-mask-image: unset;
}
.fig-item:hover div{
    color: yellow;
}
.left {
  position: absolute;
  top: 70%;
  left: 6%;
}
/*fin figures for processes*/

h1 {
  text-align: center;
}
.plot {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  padding: 5px;
}
/*.plot img{
  padding-top:50px;
}*/
.plot:before{
  content:'';
  display:block;
  height:40px;
}
.plot:hover{
  background-color: #e9e9e9;
}
.plot:target{
  background-color: #E4EAF1;
}
.espaceur{
  position: relative;
  top: -45px;
}
.d3{
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 10%;
  border-top: 2px solid #BBC9C9;
  padding-top: 5px;
  padding-bottom: 5px;
  /*padding-top: inherit;*/
}
.beam {
  border-bottom: 2px solid #BBC9C9;
}
.beam:hover{
  background-color: #BBC9C9;
}
.d3 a{
  all: inherit;
  cursor: pointer;
}
#tablegens{
    display: block;
}
/*#genversions{
    display: none;
}
#headergenver label{
  cursor: pointer;
  padding-right: 20px;
}
#headergenver label:after{
  content: " \25be";
}
#genversions:checked ~ #headergenver label:after{
    content: " \25b4";
}
#genversions:checked ~ #tablegens{
    display: block;
}*/
.details{
  margin-bottom: 0px;
  margin-right: 20px;
  text-align: right;
}
.details label {
  cursor: pointer;
  border-bottom: 1px dashed blue;
}
.details ul{
    text-align: left;
    display: none;
    list-style: none;
    margin-left: 40px;
    margin-top:0;
    padding:0;
}
.details input[type=checkbox]{
    display: none;
}
.details input[type=checkbox]:checked ~ ul {
    display: block;
}
.gendropdown {
  margin-right: 20px;
  padding: 0;
  list-style: none;
  min-width: 250px;
  background-color: gainsboro;
  display: inline-block;
}
.gendropdown li {
  position: relative;
}

.gendropdown li a, .gendropdown a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
  white-space: nowrap;
  cursor: default;
}

.gendropdown > a{
  cursor: pointer;
}
.gendropdown .anbutton:after {
  content: " \25be";
}
.gendropdown li ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  /*line-height: normal;*/
  min-width: 100px;
  z-index:2;
}
.gendropdown li ul li a {
  text-align: left;
  color: black;
  padding: 10px;
  display: block;
  white-space: nowrap;
  cursor: default;
  background-color: gainsboro;
}
.genmenu:after {
  content: " \25b8";
}
.gendropdown li ul li a:hover, .leftside .gendropdown li ul li a:hover {
  background-color: #C4D4CE;
}

.gendropdown li ul li ul {
  left: 100%;
  top: 0;
}
.gendropdown li ul li ul a {
  background-color: #e9e9e9;
  cursor: pointer;
}
.gendropdown li:hover>a {
  background-color: #C4D4CE;
}
.gendropdown a:hover{
    background-color: #C4D4CE;
}
.gendropdown li:hover>ul {
  display: block;
}
.tooltip{
  display: inline-block;
  position: relative;
  font-size: 18pt;
  top: 6px;
  cursor: default;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  font-size: 12pt;
  background-color: #555;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  text-align: left;

  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: -350px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.anmenu:after {
  content: "";
}
.an li ul {
  min-width: 250px;
  height: auto;
  max-height: 300px;
  overflow: auto;
}

.leftside .an li ul {
  min-width: 220px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
}

.an li ul li a, .leftside .an li ul li a {
  font-size: 12px;
  padding: 4px;
  font-weight: normal;
  cursor: pointer;
  background-color: gainsboro;
}
.leftside .an {
  display: block;
  min-width: 220px;
  width: 220px;
}
.leftside .an li a {
  padding: 10px 0;
  font-weight: bold;
  font-size: 12px;
}
.an li ul::-webkit-scrollbar {
  width: 10px;
}
.an li ul::-webkit-scrollbar-track {
  background: gainsboro;
}
.an li ul::-webkit-scrollbar-thumb {
  background: #777;
}
/* default generator version settings */
#genform .genselect{
  min-width: 100px;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  font-size: inherit;
  margin-top: 3px;
}
#genform .genline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#genform .genblock {
  margin-right: 30px;
  margin-bottom: 10px;
}

#genform input[type=submit] {
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 0px;
  padding: 6px 32px;
  cursor: pointer;
  font-size: inherit;
}

#uguideimg {
  width: 600px;
}

/* validation pages */
table.validation {
  border: 3px solid black;
  border-collapse: collapse;
  text-align:center;
}
table.validation a {
    text-decoration: none;
    color: black;
}

table.validation .mcd a {
    /*color: gainsboro;*/
}
table.validation th {
  border: 1px solid black;
  padding: 1px;
  font-size: 10px;
  font-weight:normal;
  background-color: #C0C0C0;
}
table.validation th.mcd {
  background-color: rgba(80, 80, 80, 1);
  color: gainsboro;
}
table.validation th.mn {
  font-size: inherit;
  padding: 10px;
  border: 3px solid black;
  font-weight: bold;
  background-color: white;
}
table.validation th.dmid {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}
table.validation th.ddwn {
  border-bottom-width: 3px;
}
table.validation td {
  border: 1px solid black;
  padding: 1px;
  font-size: 10px;
  font-weight:normal;
}
table.validation td.mn {
  font-size: inherit;
  padding: 10px;
  border-right-width: 3px;
}
table.validation td.dmid {
  font-size: 24px;
  padding: 5px 15px;
  border-bottom-style: none;
  border-top-style: none;
}
table.validation td.dup {
  border-bottom-style: none;
}
table.validation td.ddwn {
  border-top-style: none;
}


table.validdetails{
  border: 3px solid black;
  border-collapse: collapse;
  text-align:center;
}
table.nodelta{
  border-left: 3px solid black;
  border-collapse: collapse;
  text-align:center;
}
table.nodelta td{
  
}
table.nodelta th:not(:last-child) {
  border: 1px solid black;
  border-bottom-width: 3px;
  border-top-width: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  background-color: #C0C0C0;
}
table.nodelta tr:last-child{
  border-bottom: 3px solid black;
}
table.nodelta td.obscol {
  vertical-align: top;
}
table.nodelta td.obscol div.obspad {
  padding-top: 6px;
}
table.nodelta tr:last-child td:last-child{
  border-bottom: 3px solid white;
}
table.nodelta a {
    text-decoration: none;
    color: black;
}
table.nodelta a:hover {
    text-decoration: underline;
}
table.nodelta td:not(:last-child) {
  border: 1px solid black;
  padding: 3px 5px;
  font-size: inherit;
  font-weight:normal;
}
table.nodelta td.chicol, table.nodelta th.chicol {
  border-right: 3px solid black;
}
table.validdetails a {
    text-decoration: none;
    color: black;
}
table.validdetails th {
  border: 1px solid black;
  border-bottom-width: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  background-color: #C0C0C0;
}
table.validdetails th.mcd {
  background-color: rgba(80, 80, 80, 1);
  color: gainsboro;
}
table.validdetails td {
  border: 1px solid black;
  padding: 3px 5px;
  font-size: inherit;
  font-weight:normal;
}
table.validdetails a:hover, table.validation a:hover  {
    text-decoration: underline;
}
.smallText {
  font-size: 12px;
  font-weight: normal;
}
.badchi2 {
  background-color: rgba(255, 50, 50, 0.7);
}
.midchi2 {
  background-color: rgba(255, 188, 0, 0.5);
}
.goodchi2 {
  background-color: rgba(97, 208, 75, 0.7);
}
.badDchi2{
  background-color: rgba(105, 44, 39, 1);
  color: gainsboro;
}
.midDchi2{
  background-color:rgba(80, 80, 80, 1);
  color: gainsboro;
}
.goodDchi2{
  background-color: rgba(6, 92, 29, 1);
  color: gainsboro;
}
table.validation .mcd a.badDtchi2, table.validdetails .mcd a.badDtchi2{
  color: rgba(255, 204, 204, 1);
}
table.validation .mcd a.midDtchi2, table.validdetails .mcd a.midDtchi2{
  color: gainsboro;
}
table.validation .mcd a.goodDtchi2, table.validdetails .mcd a.goodDtchi2{
  color: rgba(173, 235, 173, 0.8);
}
.supsub {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    font-size: 60%;
    text-align: left;
}
.toexpand, .expanded{
  line-height: 250%;
}
.toexpand:hover, .expanded:hover{
  cursor: pointer;
}
.toexpand:after {
  content: "\25Bc";
}
.expanded:after {
  content: "\25b2";
}
.collapsed {
  visibility: collapse;
}
table.validdetails .histid, table.nodelta td.histid {
  text-align: right;
  padding-right: 20px;
}

@media screen and (max-width: 800px){
  .head{
    font-size:2vh;
    height: 80vh;
    justify-content: flex-start;
    padding-top: 20vh;
  }
  .head h1{
    font-size:7vh;
  }
  .circles{
    flex-direction: column;
    padding: 0;
  }
  .circ{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    height: 15vh;
    width: 15vh;
    font-size: 2vh;
  }
  .circ .number {
    font-size:4vh;
    padding-top:4.5vh;
  }
  nav li a, .dropbtn {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 8pt;
  }
  nav li a, .dropbtn .triangle-down:after {
    content: none;
  }
  nav .dropdown:hover .dropdown-content {
    display: none;
  }
  nav #logo a{
    padding: 6px 14px 0;
  }
  nav #logo img{
    height: 20px;
  }
  .carrelage{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .valid {
    margin-top: 0;
  }
  .carre {
    display: block;
    width: 90%;
    padding: 5%;
  }
  .carre img{
    width: 30vw;
    float:left;
  }
  .carre div h2{
    float:left;
    width:55vw;
    margin-left: 2vw;
    font-size: 4vw;
    margin-top:0;
    margin-bottom:1vh;
  }
  .carre div{
    float:left;
    width:55vw;
    margin-left: 2vw;
    line-height: 1.2;
    font-size: 3vw;
  }
  .validcarre {
    width: 100%;
  }
  .leftside {
    overflow: hidden;
    width: 115px;
    padding-left: 0;
    font-size: 8pt;
    margin-left: 10px;
  }
  .sidenav label{
    padding: 4px 4px 4px 8px;
  }
  .sidenav h2 {
    padding: 4px 4px 4px 8px;
  }
  .sidenav a {
    padding: 4px 4px 4px 8px;
  }
  .sidenav ul li a{
    padding-left: 16px;
  }
  .leftside .an {
    min-width: 115px;
    width: 115px;
  }
  .an {
    min-width: 250px;
    width: 250px;
  }
  .leftside .an li ul{
    min-width: 115px;
  }
  .leftside .an li a, .leftside .an li ul li a{
    font-size: 6pt;
  }
  .an li ul::-webkit-scrollbar {
    width: 5px;
  }
  .rightpage{
    margin-left: 140px;
    font-size: 8pt;
  }
  .an{
    font-size: 8pt;
  }
  .gendropdown {
    margin-right: 20px;
    min-width: 170px;
  }

  .team img:not(:last-child){
    margin-right: 10px;
  }
  .plot img{
    width:180px;
  }
  .details{
    margin-right: 10px;
  }
  .details ul{
    margin-left: 0px;
    font-size: 7pt;
  }
  .tooltip{
    display: block;
  }
  .tooltip .tooltiptext {
    width: 250px;
    font-size: 8pt;
    bottom: 60%;
    left: -120px;
  }
  #uguideimg {
    width: 100%;
  }
  table.validation th.dmid, table.validation td.dmid{
    font-size: 20px;
  }
}
