<section>
<img id="uguideimg" src="figs1/uguide.png" alt="sitemap">

</section>
<h2 class="d3"><span> Plots </span></h2>
<section >
The plots repository is accesible via the main <b>PLOTS</b> page where you can choose to filter the plots either by generator hard process or by data analysis.
<br><br>
Once you select a process or data analysis, you will be taken to a page with plots; choose a variable to show in the left menu. Here you are, you can see all plots for the requested variable at different energies. By clicking on the "details" link under each plot you can download it, see the corresponding generator card or access the publication with this plot.
<br><br>
By default, a certain set of generators/versions/tunes are shown on distributions, it is possible to change this set and to choose another one from prepared presets or even to choose your preferred generators/versions/tunes to show <b>for the given distribution</b>. This may be done via the <b>Preset</b> and <b>Customize</b> buttons on each <b>PLOTS</b> page.
<br><br>
By default, the latest generator versions are shown on distributions. It is possible to change this <b>default</b> version for all the distributions by selecting corresponding versions in the "Generators versions" section on the main <b>PLOTS</b> page. Note that this choice is applied to all distributions until you quit the <b>PLOTS</b> section.
</section>
<h2 class="d3"><span> Comparison </span></h2>
<section >
Check the changes between generator versions or the differences between tunes, both presented by tables containing mean &chi;<sup>2</sup> values for different hard processes. Select a desired generator/version or generator/tune in the left menu, the table with mean, maximum and minimum &chi;<sup>2</sup> appears. The menu above this table allows to choose versions or tunes to show; by default three first tunes or three latest version are shown. Click on a cell of interest (i.e. choose a hard process for a given generator/version/tune), a detailed table with &chi;<sup>2</sup> for each observable appears. Click on an observable of interest, the corresponding plot will be shown.
<br><br>
Generators' versions in the table are shown in chronological order, and the "&Delta;" column is added to check the changes between them. This &Delta; represents the difference between &chi;<sup>2</sup>.
<br><br>
The background color of each sub-cell reflects its chi2 value. White cells correspond to a non-calculated &chi;<sup>2</sup>, due to different number of bin in theory and data histograms, for example.
<br><br>
To make &chi;<sup>2</sup> values more physically meaningful, the MC predictions are assigned a flat 5% 'theory uncertainty', as a baseline sanity limit for the achievable theoretical accuracy with present-day MC models. A few clear cases of <a href="http://en.wikipedia.org/wiki/Garbage_In,_Garbage_Out">GIGO</a> are excluded, but some problematic cases remain. Thus, e.g., if a calculation returns a too small cross section for a dimensionful quantity, the corresponding &chi;<sup>2</sup> value will be large, even though the shape of the distribution may be well described.
</section>
<h2 class="d3"><span> LHC@home </span></h2>
<section >
Join the LHC@home/Test4Theory project to donate the unused CPU cycles to help generate more statistics for mcplots.
<br><br>

</section>
