.c1 {
  background-color: #d2d4d6;
  border:1px solid black;
  box-shadow: inset 0px 0px 19px 7px rgba(106,106,106,0.67), 0px 0px 28px 6px rgba(195,195,195,0.67); inset;
}

.c2 {
  background-color: #ffb1ad;
  box-shadow: inset 0px 0px 19px 7px rgba(171,118,116,0.67), 0px 0px 28px 6px rgba(255,176,173,0.67);
  border:1px solid black;
  
}

.c3 {
  background-color: #fcd97e;
  box-shadow: 0px 0px 28px 6px rgba(220,219,151,0.67), inset 0px 0px 19px 7px rgba(106,105,73,0.67);
  border:1px solid black;
}

.head{
    background-color: black;
    color: silver;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 1px white);
  z-index: 101;
}
